@using GridMvc.Html

@model IEnumerable<BozokYemek.Deytabeyz.Manti>

@{
    ViewBag.Title = "Yemek";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yemeklerimiz</h2>

<p>
    <a href="@Url.Action("Edit","Manti", new { id=0})" class="btn btn-primary">
        <span class="fa fa-plus"></span>
        Ekle
    </a>
</p>



<div>
    @Html.Grid(Model).Named("YemekListesi").Columns(col =>
    {
        col.Add(x => x.EklemeTarihi).Format("{0:dd.MM.yyyy}").Titled("Ekleme Tarigi").SetWidth(30);
        col.Add(x => x.Kategori.Adi).Titled("Kategori").SetWidth(30);
        col.Add().Encoded(false).Sanitized(false).Titled("Resim").Filterable(false).RenderValueAs(c => @<div><img alt="Image" src='@c.Resim' width="36" )" /></div>).SetWidth(30);

                    col.Add(x => x.Baslik).Titled("Yemek Adi");
                    col.Add(x => x.Kullanici.Adi).Titled("Kim Ekledi").SetWidth(30);

                    col.Add(x => x.Aciklama, true).Titled("Yemek Aciklama");
                    col.Add(x => x.KacKisilik, true).Titled("Kac Kisilik");
                    col.Add(x => x.HazirlamaSuresi, true).Titled("Hazirlama Suresi");
                    col.Add(x => x.PisirmeSuresi, true).Titled("Pisirme Suresi");
                    col.Add(x => x.Malzeme, true).Titled("Hazirlama Suresi");

                    col.Add().Encoded(false).Sanitized(false).RenderValueAs(html =>
{
                string htmlWarning = "<a href='/Manti/Edit/" + html.Id.ToString() + "' class='btn btn-warning btn-xs'><span class='fa fa-edit'></span></a>";
                return MvcHtmlString.Create(htmlWarning);

            }).SetWidth(30);

        //col.Add().Encoded(false).Sanitized(false).RenderValueAs(html =>
        //{
        //    string htmlWarning = "<a href='/Manti/Delete/" + html.Id.ToString() + "' class='btn btn-danger btn-xs'><span class='fa fa-trash'></span></a>";
        //    return MvcHtmlString.Create(htmlWarning);

        //}).SetWidth(30);

        col.Add().Encoded(false).Sanitized(false).RenderValueAs(html =>
                {
                    string htmlWarning = "<a onclick='Delete(" + html.Id.ToString() + ")' class='btn btn-danger btn-xs'><span class='fa fa-trash'></span></a>";
                    return MvcHtmlString.Create(htmlWarning);

                }).SetWidth(30);

                }).Filterable(true).Sortable(true).WithPaging(5).SetLanguage("tr")

</div>

@*col.Add().Encoded(false).Sanitized(false).RenderValueAs(x => Html.ActionLink("Sil", "Delete", "Manti", new { id = x.Id }, new { @class = "btn btn-danger btn-xs" })).SetWidth(30);*@
@*col.Add().Encoded(false).Sanitized(false).RenderValueAs(x => Html.ActionLink("Duzenle", "Edit", "Manti", new { id = x.Id }, new { @class = "btn btn-warning btn-xs" })).SetWidth(30);*@

<div class="container">
    <div class="row">
        <div id="detaylar">
            <span class="text-primary">Yemel Adi : </span><span id="yemekAdi"></span><br />
            <span class="text-primary">Kac Kisilik : </span><span id="kacKisilik"></span> kisilik<br />
            <span class="text-primary">Hazirlama Suresi : </span><span id="hazirlamaSuresi"></span> dakika<br />
            <span class="text-primary">Pisirme Suresi : </span><span id="pisirmeSuresi"></span> dakika<br />
            <span class="text-primary">Malzemeler : </span><span id="malzemeleri"></span><br />
            <span class="text-primary">Ne Zaman Eklendi : </span><span id="zamani"></span><br />
            <span class="text-primary">Aciklama: </span><span id="aciklama"></span><br />

            @*<span class="text-primary">Kategorisi : </span><span id="kategorisi"></span><br />
                <span class="text-primary">Kim Ekledi : </span><span id="kimEkledi"></span><br />
                <span class="text-primary">Resim : </span><img src="~/Resim/Yemek/" alt="Alternate Text" id="resimi"/><br />*@
        </div>
    </div>
</div>


<script>
    $(function () {
        pageGrids.YemekListesi.onRowSelect(function (e) {
            var data = e.row;

            $("#yemekAdi").text(data.Baslik);
            $("#kacKisilik").text(data.KacKisilik);
            $("#hazirlamaSuresi").text(data.HazirlamaSuresi);
            $("#pisirmeSuresi").text(data.PisirmeSuresi);
            $("#malzemeleri").text(data.Malzeme);
            $("#zamani").text(data.EklemeTarihi);
            $("#aciklama").text(data.Aciklama);
        });
    });

</script>


@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["MantiEkleme"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

         $(function () {
            var successMessage = '@TempData["MantiGuncelleme"]'
             if (successMessage != '')
                 alertify.success(successMessage);
        });

         $(function () {
            var successMessage = '@TempData["MantiSilme"]'
             if (successMessage != '')
                 alertify.error(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Manti Kategori','silmek istediginize emin misini ?', function(){
                window.location.href  = '@Url.Action("Delete","Manti")/'+id;
            },null );
        }
    </script>
}


@*<table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayName("Yemek Adi")
            </th>

            <th>
                @Html.DisplayName("Yemek Resmi")
            </th>

            <th>
                @Html.DisplayName("Kategorisi")
            </th>

            <th>
                @Html.DisplayName("Yemek Ekleyen Kisi")
            </th>

            <th>
                @Html.DisplayName("Yemek Islem Sec")

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>
                <td>
                    <img src="~/@item.Resim" alt="@item.Baslik" width="36" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategori.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kullanici.Adi)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Manti", new { id=item.Id})" class="btn btn-warning btn-xs">
                        <span class="fa fa-edit"></span>
                    </a>

                    <button type="button" onclick="('@Url.Action("Delete","Manti", new { id=item.Id})')" class="btn btn-danger btn-xs">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </td>
            </tr>
        }

    </table>

    <script>
        function MantiSil(url) {
            if (confirm("urunu silmek istediginize emin misiniz?")) {
                location.href = url;
            }
        }
    </script>*@
