@using BozokYemek.Models.Kullanici
@model KayitOlModel

@{
    ViewBag.Title = "KayitOl";
    Layout = "~/Views/Shared/_LayoutGirisKayitOl.cshtml";

}

<div class="contact-form-area">
    <div class="row">

        <div class="col-12 col-md-5">
            <div>
                <img src="~/AdminContext/img/bg-img/contact.jpg" class="contact-form-sidebar item wow fadeInUpBig" data-wow-delay="0.3s" />
            </div>
        </div>

        <div class="col-12 col-md-7 item">
            <div class="contact-form wow fadeInUpBig" data-wow-delay="0.6s">
                <h2 class="contact-form-title mb-30 text-center">
                    <span class="text-warning">
                        Manti Sitesi !
                    </span>
                    <span class="text-primary">
                        Kayit Sayfasina Hosgeldiniz
                    </span>

                    @if (ViewBag.KayitOlHata != null && string.IsNullOrEmpty((string)ViewBag.KayitOlHata) == false)
                    {
                        <span class="text-danger">
                            <span class="fa fa-dashboard"></span>
                            @ViewBag.KayitOlHata
                        </span>
                    }
                </h2>

                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Kullanici.Adi, new { @class = "form-control", type = "text", placeholder = "adiniz", required = "required" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Kullanici.Soyadi, new { @class = "form-control", type = "text", placeholder = "soyadiniz", required = "required" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Kullanici.Eposta, new { @class = "form-control", type = "email", placeholder = "eposta adresi", required = "required" })
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(model => model.Kullanici.Sifre, new { @class = "form-control", type = "password", placeholder = "sifre", required = "required" })
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(model => model.SifreTekrar, new { @class = "form-control", type = "password", placeholder = "sifre tekrar", required = "required" })
                    </div>

                    <div class="form-group">

                        <button type="submit" class="btn btn-success pull-right">
                            <span class="fa fa-map-signs"></span>
                            Kayit Ol
                        </button>

                        <a href="@Url.Action("Giris","Kullanici")" class="btn btn-primary">
                            <span class="fa fa-sign-in"></span>
                            Giris
                        </a>

                        <hr />

                        <a href="@Url.Action("Index","Home")" class="btn btn-default">
                            <span class="fa fa-home"></span>
                            Anasayfa
                        </a>

                    </div>
                }

            </div>
        </div>
    </div>
</div>
